os-sys==2.1.4
io==0.1.0
asyncio==3.4.3
aiohttp==3.8.4
pytesseract==0.3.10
Pillow==9.3.0
PyPDF2==3.0.0
streamlit==1.25.0
langchain-groq==0.0.1  
langchain==0.0.218  
langchain_google_genai==0.0.5  
langchain_community==0.0.5  
faiss-cpu==1.7.4  
python-dotenv==1.0.0
